<h2>{{ post?.title }}</h2>
<p>{{ post?.paragraph }}</p>
<img src="{{ post?.imgPath }}" class="img-fluid" />
<p>{{ post?.details }}</p>
<p>{{ post?.datetime }}</p>
<p>&#10084; {{ post?.numberOfLikes }}</p>
<button type="button" (click)="likePost()" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-thumbs-up"></span> Like
</button>
<br /><br />
<button class="btn btn-success" (click)="onEdit()">Edit</button>
<button class="btn btn-danger" (click)="onDelete()">Delete</button>
<hr />
